{% extends "tourbase.html.twig" %}
 {% block lower %}
   
    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('toursells') }}
    {% endblock %}
    
        {% form_theme tourform 'bootstrap_4_layout.html.twig' %}
        <form action="{{ path('ot_admin_toursells', {'id': tour.id}) }}" enctype="multipart/form-data" method="post">
	        <fieldset>
            {{ form_label(tourform.selldatebreaks) }}
            {{ form_errors(tourform.selldatebreaks) }}
            <table id="category_list" class="table">
            <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-prototype="{% apply escape %}{% include 'toursells_row.html.twig' with {'form': tourform.selldatebreaks.vars.prototype} %}{% endapply %}">
            {% for break in tourform.selldatebreaks %}
            <tr>
                <td>{{ form_errors(break.start) }}{{ form_widget(break.start) }}</td>
                <td>{{ form_errors(break.end) }}{{ form_widget(break.end) }}</td>
                {% for sell in break.sellamounts %}
                <td>{{ form_errors(sell.amount) }}{{ form_widget(sell.amount) }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
            <p>{{ form_widget(tourform.submit) }}</p>
              {{ form_rest(tourform) }}
        </fieldset>
        </form>

 {% endblock %}